html, body
{
    font-family: 'Content', serif;
    text-align: justify;
    color: #DADADA; /* Ich liebe dich Ich liebe dich... :D */
}

em[title], abbr
{
    border-bottom: 2px dotted;
    font-style: normal;
}

em[title]:hover, abbr:hover
{
    color: #ABABAB;
}

a
{
    color: #BBBBFF;
    text-decoration: none;
}

a:hover
{
    color: #8888CC;
    text-decoration: underline;
}

.touche
{
    display: inline-block;
    padding: 7px;
    border: 2px outset #161616;
    color: white;
    background: black;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

figure img
{
    width: 400px;
    border: 3px groove #909090;
    border-radius: 15px;
}

figure
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

body
{
    width: 65%;
    margin-left: 17.5%;
    background: url('img/bg.png') repeat;
}

header
{
    text-align: center;
    font-size: 1.4em;
}

header img
{
    margin-bottom: 30px;
    display: inline-block;
}

nav
{
    text-align: center;
    font-family: 'Title', sans-serif;
    font-size: 0.9em;
    z-index: 10;
    position: relative;
    top: 20px;
}

nav ul
{
    background: #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li
{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

nav a
{
    text-decoration: none;
    color: #494949;
}

nav a:hover
{
    animation: hoverLink 0.2s linear;
    text-decoration: none;
    color: #111111;
    text-shadow: 0px 0px 5px #000000;
}


@keyframes hoverLink
{
	0%		{text-shadow: 0px 0px 1px #CCCCCC; color: #494949;}
	100%	{text-shadow: 0px 0px 5px #000000; color: #111111;}
}

section
{
    z-index: 1;
    padding-top: 32px;
    padding-left: 78px;
    padding-right: 78px;
    padding-bottom: 144px;
    margin-bottom: -16px;
    background: url('img/leftW.png') repeat-y, url('img/rightW.png') repeat-y right, url('img/transition.png') repeat-x bottom;
}

iframe
{
    margin: 10px;
}

#section_fin
{
    background: url('img/leftW.png') repeat-y, url('img/rightW.png') repeat-y right;
    padding-bottom: 78px;
}

#wrapper_content
{
    background: url('img/wall.png') repeat 20px 80px;
}

section h1
{
    text-align: right;
    margin-right: 24px;
    position: relative;
    bottom: 15px;
}

section h3
{
    margin-top: 30px;
}

.button
{
    width: 150px;
    display: inline-block;
    padding: 7px;
    border: 2px outset black;
    border-radius: 3px;
    color: #DADADA;
    background: #161616;
    margin-left: 3px;
    margin-right: 3px;
}

.button:hover
{
    border: 2px inset black;
}

.button_subtitle
{
    font-size: 0.7em;
}

#dlP
{
    text-align: center;
}

footer
{
    background: #CCCCCC;
    color: #202020;
    text-align: center;
    position: relative;
    top: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 64px;
}

footer a
{
    color: #202020;
    text-decoration: none;
}

footer a:hover
{
    color: #202020;
}

@font-face
{
    font-family: 'Content';
    src: url('font/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Title';
    src: url('font/TrebuchetMSBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}